{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
<h2>Create a New Entry</h2>
<form method="post">
    {% csrf_token %}
    <label for="title">Entry Title:</label>
    <input type="text" id="title" name="title" required> <br>

    <lable for="content">Entry Content:</lable> <br>
    <textarea id="content" name="content" required> </textarea> <br>

    <button type="Submit">Save Entry</button>
</form>

{% if error %}
    <p>{{error}}</p>
{% endif %}
{% endblock %}